fastapi
uvicorn
python-multipart
pydantic

sentence-transformers
faiss-cpu
numpy

pypdf
python-docx
pandas
pillow
pytesseract
opencv-python-headless

groq

jinja2
aiofiles


bcrypt==4.0.1
passlib[bcrypt]==1.7.4
python-jose[cryptography]
requests